*{
    position: absolute;
    margin: 0;
    padding: 0;


}

canvas {
    position: absolute;
    background-color: black;
}
.generate-tree-button{
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    padding:20px, 30px;
    border-radius: 50%;
    background-color: brown;
    color:black;
    font-size: 20px;
    width: 300px;
}